*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stage {  
    position: relative;
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
   overflow: hidden;    
}

.bannerSize{ 
width: 300px; 
height: 250px; 
background-color: black;
}

.box{
    position: absolute;
    width: 20px;
    height: 10px;
    left: 20px;
    top: 15px;
}

.box1,
.box2,
.box3{
    position: absolute;
    width: 20px;
    height: 10px;
}
.box1{
    background-color:#9000ff;
}
.box2{
    background-color:#55559f;
    left: 30px;
}
.box3{
    background-color:  #b0b0eb;
    left: 60px;
}
.headerText{
    position: absolute;
    color: white;
    top: 50px;
    left:15px;
}   
.hiImg{
    position: absolute;
    width: 30px;    
    height: auto;
    top: 37px;
    left: 98px;
}
.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 172px;
    left: 45px;
    background-color: #7272dd;
    border-radius: 100%;
}
.h2text{
    position: absolute;
    color: white;
    top: 85px;
    left: 15px;
}
.text{
    position: absolute;
    color: white;
    top: 110px;
    left: 15px;
}
.list1,
.list2,
.list3{
    list-style-type: none;
    position: absolute;
    color: white;
    top: 140px;
    left: 15px;
}
.list2{
    top: 160px;
}
.list3{
    top: 180px;
}
.simImg{
    position: absolute;
    width: 80px;    
    height: auto;
    top: 20px;
    left: 200px;

}
.button{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 190px;
    left: 175px;
    border-style:solid;
    border-radius: 10px;
    border-color: white;
    background-color:#7272dd;
    color:white;
}