th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
table{
    border-collapse: collapse;
    color: #FFFFFF;
th{
    Background-color: #B0AFEB;
}
td{
    background-color: #000000;
}
tr td:first-child{
    background-color: #7371DC;
}
